<%- include("partials/header"); -%> 

<body>
    <h1>AES Visualizer</h1>

    <p>A visualisation tool for the AES Cipher</p>

    <form action="/" method="post">
        <button class="start-button btn btn-outline-dark btn-lg" type="submit">Get Started</button>
    </form>

    
</body>
</html>